* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    ;
}

body {
    padding: 20px 40px;
    min-height: 1vh;
}

.cards {
    margin-left: auto;
    margin-right: auto;
    padding:30px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    width: 70%;
}

.card {
    text-align: right;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex-basis: 30%;

}

.card:first-of-type{
transition: all 0.8s ease;
}

.card:first-of-type:hover {
    transform: scale(0.9);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
}

.card:nth-of-type(2):hover .card-preview{
    transform: skew(6deg, 3deg);
    transition: all 0.5s ease;
}

.card:nth-of-type(2):hover .btn-outline{
    background-color: #3b82f6;
}


.card .image {
    height: 180px;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
}

.card:last-of-type .image{
    background-image: url(./world-map-map.webp);
    background-size: contain;
    overflow: hidden;
    width: 100%;
}

.card:last-of-type:hover .image{
    transform: rotate(4deg) ;
    margin-bottom: 5px;
    
}

.card:last-of-type:hover .card-contnet h3{
    color: #16a34a;
}

.card:last-of-type:hover .btn{
    transform: scale(1.1);
}

.radial-gradient {
    background: radial-gradient(circle at center, #4ade80, #22c55e, #16a34a);
}


.linear-gradient {
    background: linear-gradient(135deg, #3b82f6, #1d4ed8);
}

.card-contnet {
    padding: 20px;
}

.card .card-cotnent h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 30px;
    direction: rtl;
}

.card .card-desc {
    color: #6b7280;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    min-height: 40px;
}

.card .btn {
    background: #3b82f6;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.btn-outline{
    background: white;
    color: #3b82f6;
    border: solid 1px #3b82f6;
    padding: 9px 18px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
}



.card-preview {
    background: #cde6dd;
    border: 12px solid #10b981;
    padding: 12px;
    font-family: 'Courier New', monospace;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

